
/* Style the body */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  /* Header/logo Title */
  .header {
    padding: 1px;
    text-align: center;
    background: #ffffff;
    color: blue;
    border:solid 1px black;
    width: 100%;
    display: block;
    height: 230px;
  }

/* Footer */
.footer {
    padding: 3px;
    text-align: center;
    background: #ddd;
    color: rgb(235, 83, 23);
    border:solid 1px black;
  }
  .navbar {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    position: sticky;
    position: -webkit-sticky;
    font-weight:bold;
    border:solid 1px black;
    top: 0;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: left;
    display: block;
    color:rgb(235, 83, 23);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  .mblbar{
    display:none;
    width: 100%;
    color:rgb(235, 83, 23);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  /* Right-aligned link */
  .navbar a.right {
    float: right;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: rgb(235, 83, 23);
    color:white;
  }
  
  /* Active/current link */
  .navbar a.active {
    background-color: rgb(235, 83, 23);
    color: white;
  }
  .row{
      width:100%;
      display: inline-block;
  }
  
.heading{
 
    text-align: left;
    color: rgb(235, 83, 23);
    width:75%;
    padding:1rem;
}
.grid-container {
  
    width:100%;
    grid-template-columns: auto auto ;
    grid-gap: 1rem;
    padding: 10px;
  }
  .head-container {
    display: grid;
    width:100%;
    grid-template-columns: auto auto ;
    grid-gap: 2rem;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: double 1px solid rgba(0, 0, 0, 0.8);
    padding:5px;
    font-size: 30px;
    text-align: left;
    
  }
  .grid-item h1{
    text-decoration: underline;
  }
  .grid-item p{
    text-indent: 15px;
  }
section{
    display:inline-block;
}
p{
    font-size: 12px;

}
h1{
    font-size: 18px;
}
img{
    width:100px;
}
.mySlides {display:none;

}
.w3-left, .w3-right, .w3-badge {
  cursor:pointer;
  color:rgb(245, 120, 18);
  font-size: 3rem;
  }
.w3-badge {height:13px;width:13px;padding:0}
.w3-content {
  max-width: 100% !important;
}
.w3-white, .w3-hover-white:hover {
  color: rgb(255, 0, 0) !important;
  background-color: rgb(245, 120, 18) !important;
}
.foot{
  height: 60px;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}
/* code for login */


.signup-container{
  text-align: left;

  border: solid 2px white;
  
  border-radius: 6px;
  
  border: double 2px rgb(41, 6, 44);
  
  margin: 1rem 17rem 3rem;
  
  padding: 2rem;
  
  background: #0011ff99;
  
  color: white;
}
.user-container{
  text-align: left;
  border: solid 2px white;
  border-radius: 6px;
  border :double 2px rgb(235, 83, 23);
  margin:1rem 17rem 3rem;
  padding: 2rem;
}
.right-logo{
  height:10px;
  width: 10px;
}
label{
  padding:9px;
 font-weight:bold;
}
input{
  padding: 0.5rem;
  margin: .5rem;
  font-weight: bold;
  border-radius: 6px;
}

.signup-button{
  background-color: green !important;

  color: white;
  
  padding: .7rem 2.7rem;
  
  border-radius: 13px;
  
  font-weight: bold;
  
  font-size: 1rem;
  
  

}
.login-button{
  background-color: blueviolet  !important;
  color: white; 
  padding: .7rem 2.7rem;   
  border-radius: 13px  ;  
  font-weight: bold;
  font-size: 1rem;
  margin: 3px;
}
.disable{
  cursor:not-allowed;
}
.hide{
  display:none;
}
.signup-button:hover {
  background-color: green ;/* Green */
  color: white;
}
.login-button:hover {
  background-color:  rgb(33, 18, 245)!important; /* Green */
  color: white;
}

.cautions{
height:23px !important;
width: 23px !important;
}
.message-success{
  background: green;
  color: white;
  font-weight: bold;
  padding: 10px 10px 10px;
  border-radius: 1pc;
  display: block !important;
}
.message-failure{
  background: rgb(250, 26, 10);
  color: white;
  font-weight: bold;
  padding: 10px 10px 10px;
  border-radius: 1pc;
  display: block !important;
}

span{
  color:red;
}
select{

 padding: 10px 6px 10px;
}
option{
  font-size: 12px;
  padding-left:0px;
}
.padding-left{
  font-size: 17px;
  padding-left:15px;
}
.signup-container input, select, option{
  width:100% !important;
  
}
.account1{
  color:rgb(221, 85, 51);
  font-weight:bold;
  font-style: italic;
  padding-left: 10px;
  
  font-size: 17px;
}
@media only screen and (max-width:750px) {
  
  .heading{
    display:block;
    width:100%;
  }
  .navbar {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    position: sticky;
    position: -webkit-sticky;
    font-weight:bold;
    border:solid 1px black;
    top: 0;
  }
  .navbar a {
    font-size:14px;
    padding: 8px 10px;
  }

  .navbar a.right {
    float: left !important;
  }
  img {
    width: 100%;
  }
}
@media only screen and (max-width:600px) {
  .head-container {
    grid-template-columns: auto !important;
 }

}
@media only screen and (max-width:400px) {
  .grid-container {
    grid-template-columns: auto !important;
 }
 .navbar{
   display:none;
 }
 .mblbar {
  display: block;
}
 .mblbar a{
  float: left;
  display: block;
  color:rgb(235, 83, 23);
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  width: 100%;
  background-color: rgb(250, 174, 51);
  border :solid 1px white;
 
}
}
.account {
  background-color: green;
  color:white;
  padding: .7rem 2.7rem;
  
  border-radius: 13px;
  
  font-weight: bold;
  
  font-size: 1rem;
}
.account1 {
  background-color: green !important;

  color: white;
  
  padding: .7rem 2.7rem;
  
  border-radius: 13px;
  
  font-weight: bold;
  
  font-size: 1rem;
}
